<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}

</head>

<body>
    {{>navbars}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        
                        <figure>
                            <img src="images/bggg.JPG"  class="img-fluid" alt="thappa" title="Nasir">
                        </figure>

                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h2>I Am<span class="text-clr">Freelancer & Developer</span> </h2>
                        <a href="/"><button>About Me</button></a>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>

    <footer>
        <p>Created By Nasir Ishaq </p>
    </footer>
</body>

</html>